set default=0
set timeout=12
set menu_color_normal=yellow/black
set menu_color_highlight=black/yellow
if loadfont /boot/grub/font.pf2 ; then
  set gfxmode=auto
  insmod all_video
  terminal_output gfxterm
fi
menuentry "RAH OS // GOLD SHELL" --hotkey=1 {
  linux @KERNEL_LIVE@ @APPEND_LIVE@ rah.profile=standard
  initrd @INITRD_LIVE@
}
menuentry "RAH NOVA VI // CONTROLLER REALM" --hotkey=2 {
  linux @KERNEL_LIVE@ @APPEND_LIVE@ rah.profile=nova
  initrd @INITRD_LIVE@
}
menuentry "RAH GHOST // RESCUE REALM" --hotkey=3 {
  linux @KERNEL_LIVE@ @APPEND_LIVE@ rah.profile=rescue
  initrd @INITRD_LIVE@
}
menuentry "RAH FORGE // RAVEN LAB" --hotkey=4 {
  linux @KERNEL_LIVE@ @APPEND_LIVE@ rah.profile=forge
  initrd @INITRD_LIVE@
}
menuentry "RAH ARCADE NEXUS // MEDIA REALM" --hotkey=5 {
  linux @KERNEL_LIVE@ @APPEND_LIVE@ rah.profile=arcade
  initrd @INITRD_LIVE@
}
submenu "RAH SYSTEM // ADVANCED" {
  menuentry "RAH Safe Graphics / Recovery" {
    linux @KERNEL_LIVE@ @LB_BOOTAPPEND_LIVE_FAILSAFE@ rah.profile=rescue
    initrd @INITRD_LIVE@
  }
  if [ "@ENABLE_INSTALL_MENU@" = "true" ]; then
    menuentry "Install RAH OS base" {
      linux @KERNEL_GI@ @APPEND_GI@
      initrd @INITRD_GI@
    }
  fi
  if [ "@ENABLE_MEMTEST@" = "true" ]; then
    menuentry "RAH Memory Diagnostic" {
      linux @MEMTEST_BIN@
    }
  fi
}
